@charset "utf-8";

body {
    overflow: auto;
    margin: auto auto auto auto;
    padding-left: 8px;
}

.button {
    width: 200px;
    height: 60px;
    background-color: #FFFFFF;
    font-size: 24px;
}

#text_panel {
    width: 80%;
    background-color: #FFFFFF;
}

.text1 {
   font-size: 24px; 
}

.text2 {
    font-size: 24px;
}

.text3 {
    font-size: 22px;
}

@media screen and (max-width: 480px) {
    .text1 {
       font-size: 20px; 
    }

    .text2 {
        font-size: 20px;
    }

    .text3 {
        font-size: 18px;
    }
}