@charset "utf-8";

body {
    overflow: auto;
    margin: auto auto auto auto;
    padding-left: 3%;
    -webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 1000px) {
    #text_panel {
        width: 50%;
        background-color: #FFFFFF;
    }

    .button {
        width: 10%;
        height: 60px;
        background-color: #FFFFFF;
        font-size: 22px;
        font-weight: bold;
        border: solid 1px #000;
    }

    .button:hover {
        background-color: #EEEEEE;
    }

    .text1 {
       font-size: 24px; 
    }

    .text2 {
        font-size: 24px;
    }

    .text3 {
        font-size: 22px;
    }
}

@media screen and (max-width: 999px) {
    #text_panel {
        width: 96%;
        background-color: #FFFFFF;
    }

    .button {
        width: 20%;
        height: 100px;
        background-color: #FFFFFF;
        font-size: 30px;
        font-weight: bold;
        border: solid 1px #000;
    }

    .button:hover {
        background-color: #EEEEEE;
    }

    .text1 {
       font-size: 34px; 
    }

    .text2 {
        font-size: 40px;
        line-height: 1.6;
    }

    .text3 {
        font-size: 26px;
    }
}